<form action="{% url 'add_produto' %}" method="POST" enctype="multipart/form-data">  
    {% csrf_token %} 

    <label>Imagens:</label>
    <input type="file" name="imagens" multiple class="mb-2">
    <label>Nome:</label>
    <input type="text" name="nome" class="mb-2">
    <label>Selecione a categoria do produto:</label>
    <select name="categoria">
        {% for categoria in categorias %} 
            <option value="{{categoria.id}}">{{categoria.titulo}}</option>
        {% endfor %}
    </select>
    <label>Estoque inicial:</label>
    <input type="number" name="quantidade" >
    <label>Preço de compra</label>
    <input type="number" name="preco_compra" >
    <label>Preço de venda:</label>
    <input type="number" name="preco_venda" >
    <input type="submit" value="enviar">
    </select>
</form>